body {
    padding-top: 50px;
}

/* NAVBAR */
.navbar {
    background-color: #2F3E4F;
}

.nav-hidden {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.nav-visible {
    opacity: 1;
}

/* HERO */
.hero-section {
    background: linear-gradient(rgba(47,62,79,0.9), rgba(47,62,79,0.9));
    background-size: cover;
    background-position: center;
    min-height: 55vh;
    padding: 4rem 0;
}

.button-start{
    background-color: #6B8F61;
    border: #6B8F61;
    border-radius: 100px;
}

/* GREEN INTRO SECTION */
.intro-section {
    background-color: #3F5E44;
    color: white;
}

/* SECTION LABEL */
.section-label {
    font-size: 0.8rem;
    letter-spacing: 2px;
    color: #6c757d;
}

/* HIGHLIGHT COLOR */
.highlight-text {
    color: #D4A857;
}

/* WHY SECTION */
.why-section {
    background-color: #f3f1ed;
}

/* CARDS */
.custom-card {
    background-color: #3F5E44;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 2.5rem 1.5rem;
    text-align: left;
}

.divider {
    height: 3px;
    width: 50px;
    background-color: #D4A857;
    margin: 0.75rem 0 1rem 0;
    border-radius: 5px;
}

.light-card {
    background-color: #c8d3c0;
    color: black;
}

.dark-card{
    background-color: #2F3E4F;
    color: white;
}

/* JOURNEY SECTION */
.journey-section {
    background-color: #f3f1ed;
}

/* Placeholder screenshot box */
.placeholder-box {
    background-color: #d9d9d9;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-weight: bold;
    color: #555;
}

/* FOOTER */
.footer {
    background-color: #2F3E4F;
}